.flex {
  display:flex;
}

.align-items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}
.exchange-comp {
   justify-content: center; 
  align-items: center;
  justify-content: center;
}

.title {
  font-size:16px;
  color:#333;
}

.w-100 {
  width:100%;
}

.input-card {
  width:100%;

}

.wallet-section {
  background-color: rgb(208, 208, 224);
  padding:0.3rem;
}

.input-el {
  padding: 0.4rem 0;
  border-radius:5px;
  border:1px solid rgb(79, 79, 165);
}

.user-bal {
  font-size:14px;
  color:rgb(79, 79, 165);
  padding: 0.3rem;
}

.currency-options {
  position:relative;
  cursor: pointer;
}

.currency-list {
position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 3rem;
  overflow-y: scroll;
  width:100%;
  background-color: #fff;
}

.currency-list li {
 list-style: none;
 font-size:14px;
 margin-bottom: 0.3rem;
 padding:0.3rem
}


.currency-list li:hover {
  background-color: rgba(162, 162, 216, 0.562);
  
}
.first-li {
  margin-top: 1rem;;
}

.border {
  /* border:1px solid red; */
}

.wallet-section {
  margin-bottom: 1rem;
}

.preview {
  background-color:rgb(79, 79, 165);
  margin: auto;
  /* height:; */
  padding: 0.5rem;
  color:#fff;

}

.angle-down {
  transform: rotate(90deg);
  margin-left: .5rem;
}

.output-div {
  margin-top: 2rem;
}